.cabecera{
    display: flex;
    justify-content: space-between ;
    align-content: center;
    margin-bottom: 1rem;
}

#cabecera__nombre{
    font-weight: 700;
    font-size: 1.1rem;
}

#cabecera__correo{
    font-size: 0.9rem;
}
