.contacto{
    margin-top: 2rem 0;
}

.contacto__texto, #contacto__titulo{
    margin: 1rem 0;
}

form label, form legend{
    display: block;
}

form label{
    font-weight: bold;
    background: white;
    width: 80vw;
    border: none;
    padding: 10px;
}

.input__contacto{
    width: 80vw;
    border: none;
    border-bottom: 2px solid var(--texbt);
    padding: 10px;
    margin-bottom: 1rem;
    outline: none;
}


#contacto__mensaje{
    border: none;
    border-bottom: 2px solid var(--texbt);
    resize: none;
    outline: none;
}


#submit{
    width: 30%;
    padding: 10px 0px;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 5%;
    font-weight: bolder;
    color: white;
    background: orange;
    border-radius: 20px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

#submit:hover{
    background: darkorange;
    transform: scale(1.2);
}

.contacto__imagen{
    display: none;
}


/* PANTALLAS TABLET Y PC */
@media screen and (min-width:768px) {
    .contacto__imagen{
        display: contents;
    }

    .contacto{
        display: flex;
        flex-flow: row nowrap;
    }

    .contacto__texto{
        width: 40vw;
        padding: 20px;
        text-align: center;
    }

    #contacto__imagen{
        margin-top: 2rem;
        width: 30vw;
    }

    form label, .input__contacto{
        width: 50vw;
    }

    #submit{
        margin-left: 50%;
    }
}

@media screen and (min-width:1024px) { 
    .contacto__imagen{
        display: contents;
    }

    .contacto{
        display: flex;
        flex-flow: row nowrap;
    }

    .contacto__texto{
        width: 40vw;
        padding: 20px;
        text-align: center;
    }

    #contacto__imagen{
        margin-top: 2rem;
        width: 25vw;
    }

    form label, .input__contacto{
        width: 50vw;
    }

    #submit{
        margin-left: 50%;
    }
}