footer{
    margin-top: 3rem;
    display: block;
    text-align: center;
    align-content: center;
    background-color: var(--varis);
    border-radius: 40px;
    padding: 40px 10px;
    visibility:visible;
    transition: 5s all;
}

footer:hover{
    visibility: hidden;
    transition: 1.5s all;
}