.skills, .formacion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.skills ul, .formacion__list{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 700;
}

.skills ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

.skills__list_item, .formacion__list__item{
    width: 20vw;
    display: block;
    padding: 20px;
    margin-top: 1rem;
}

.formacion__list__item{
    width: 200px;
}

.formacion ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* PANTALLAS TABLET Y PC */
@media screen and (min-width:768px) {
    .skills, .formacion{
        margin: 4rem 0;
        background: var(--backg);
        border-radius: 40px;
        padding: 20px;
    }

    .skills__list_item{
        width: 10vw;
    }

    .formacion ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: baseline;
    }
}

@media screen and (min-width:1024px) {
    .skills, .formacion{
        margin: 4rem 0;
        background: var(--backg);
        border-radius: 40px;
        padding: 20px;
    }

    .skills__list_item{
        width: 10vw;
    }

    .formacion ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: baseline;
    }
}